{% extends "templates/layout.html" %}

{% block title %}A1 Intelligence Management Platform by Aqovia{% endblock %}

{% block content %}
<section class="home-hero u-padding-bottom-none">
	<div class="edged-section">
		
		<h1 class="home-hero__statement">
			<span class="home-hero__text">Do you know which algorithms are</span>
			<span class="home-hero__accent-text">enabling key decisions</span>
            <span class="home-hero__text">in your organisation?</span>
		</h1>

        <p class="page-title-subtext">A growing number of organisations invest considerable amounts of money into AI, building an ever-expanding AI estate.</p>
	
	</div>
</section>

<section class="transition-to-default-bg-section">
	<div class="edged-section u-padding-top-none">
		<p>This includes myriads of datasets, algorithms, models, experiments, insights, visualisations, products and customers).</p>

        <p>However, it is becoming an increasingly tough task to track the right information and to answer questions, such as:</p>
	</div>
</section>

<section class="default-bg-section">
	<div class="edged-section u-padding-top-none">
        <ul class="u-margin-top-none u-margin-bottom-large">
            <li>What is my ROI across all datasets that I have purchased?</li>
            <li>Should I invest in quantum algorithms to solve specific problems?</li>
            <li>Can I re-use a particular algorithm to address a different problem?</li>
        </ul>

        <h2 class="bold-heading">Aqovia A1 - The world's MOST ADVANCED intelLigence management platform</h2>

        <p>Ensure that you are getting the best insights and actions from your data, allowing you to address your most urgent BI questions with Aqovia’s A1 Intelligence Management Platform. It enables you to leverage the best information from your data estate, helping you understand the ROI of your data investments and increase the efficiency of your algorithms.</p>
	</div>
</section>

<section class="alternate-bg-section">
	<div class="edged-section">
		<h2 class="bold-heading">A single source of reference of all your important AI data</h2>

        <p>It comprises hybrid Classical and Quantum computing algorithm selection and data catalog capabilities. By tapping into metadata, it can manage the complete lifecycle of your:</p>
		
        <ul>
            <li>Datasets</li>
            <li>Algorithms</li>
            <li>Experiments</li>
            <li>Models</li>
            <li>Insights</li>
            <li>Visualisations</li>
            <li>Products</li>
        </ul>
	</div>
</section>

<section class="default-bg-section">
	<div class="edged-section">

        <h2 class="bold-heading">Characteristics</h2>

        <dl>
            <dt>Insightfulness</dt>
            <dd>Interrogate and understand your data, know what algorithms you have and make intelligent decisions</dd>

            <dt>Maximise</dt>
            <dd>Your ROI for all Artificial Intelligence initiatives</dd>

            <dt>Flexibility</dt>
            <dd>Designed for both Quantum and Classical computing algorithms</dd>

            <dt>Traceability</dt>
            <dd>Track & audit ML experiments, insights and intelligent data</dd>

            <dt>Trainability</dt>
            <dd>Our algorithm can learn the patterns in your data and apply insights through machine learning</dd>

            <dt>Consistency</dt>
            <dd>Produce repeatable insights and experiments facilitating evolution and maximising accuracy</dd>

            <dt>Utility</dt>
            <dd>Works with any machine learning library, language and code</dd>

            <dt>Reliability</dt>
            <dd>Runs the same way in any cloud, on-premise and bare metal deployment</dd>

            <dt>Scalability</dt>
            <dd>Built to scale and meet the demands of large geographically dispersed organisations, as they grow</dd>
        </dl>
	</div>
</section>

<section class="emphasised-bg-section">
	<div class="edged-section u-text-center">
		<h2 class="default-heading">Why</h2>
        <p>A1 Intelligence Management Platform enables you to quickly and effectively answer key questions, such as:</p>

        <div class="u-row -four-items-stackable-in-two">
            <div>
                <h3>ROI</h3>
                <p>Do you know the business value generated from your AI/ML initiatives</p>
            </div>

            <div>
                <h3>Cost</h3
                <p>How much are you spending on AI/ML in which functional areas</p>
            </div>

            <div>
                <h3>Automation</h3>
                <p>How much automation are you benefiting from by function and type</p>
            </div>

            <div>
                <h3>Reuse</h3>
                <p>Are you operating in silos with little collaboration across your organisation.</p>
            </div>
        </div>
	</div>
</section>

<section class="default-bg-section">
	<div class="edged-section u-text-center">

        <h2 class="bold-heading">How it works</h2>

        <img src="img/How-A1-Works.png" alt="The A1 Platform architecture diagram" class="u-centered-image">
	</div>
</section>

<section class="alternate-bg-section u-padding-top-medium u-padding-bottom-medium">
	<div class="u-text-center">

        <h2 class="bold-heading">User Experience</h2>

        <div class="u-row -three-items-stackable">
            <div>
                <h3>C-level executive</h3>
                <iframe width="96%" height="315" src="https://www.youtube.com/embed/48qkp3cpmb8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div>
                <h3>Data Scientist</h3>
                <iframe width="96%" height="315" src="https://www.youtube.com/embed/AU_uICzFZHg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div>
                <h3>Data Strategist</h3>
                <iframe width="96%" height="315" src="https://www.youtube.com/embed/OtYMvn6iTk0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
	</div>
</section>

<section class="emphasised-bg-section">
	<div class="edged-section u-text-center">

        <h2 class="bold-heading">Who is it for</h2>

        <ol class="bold-numbered-list">
            <li>CxO</li>
            <li>Data Scientist</li>
            <li>Data Strategist</li>
            <li>Product Owner</li>
        </ol>
	</div>
</section>

{% include "templates/partials/clients-logo.html" %}

{% endblock %}