{% extends "layout.html" %}
{% set menuItem = "about" %}

{% block title %}About Aqovia{% endblock %}

{% block content %}
<section>
	<div class="edged-section">
		<p class="page-title">About us</p>
		<h1 class="page-title-subtext">Aqovia is an international digital solutions specialist, combining elite and cutting edge technologies to provide sophisticated, bespoke transformation solutions to the public and private sectors.</h1>
	</div>
</section>

<section class="default-bg-section">
	<div class="edged-section">
		<div class="uneven-2-parts-content">
			
			<div class="u-margin-bottom-medium">
				<p>Founded in 2008 as a joint venture with Cable and Wireless, Aqovia has grown to be a leader in the digital solutions space. We use our extensive experience and proven track record in Business Transformation, Systems Integration and Software Development to deliver long-term, innovative solutions spanning telecoms, technology, media, education and finance.</p>
				
				<p>Our clients range from small to medium organisations and government departments, through to multi-billion dollar brands, all based across the UK, Europe and Asia.</p>	
			</div>

			<div>
				<h2 class="small-heading">Our executive team</h2>

				<ul class="unstyled-list mini-profiles">
					<li class="mini-profile">
						<div class="mini-profile__picture">
							<img src="img/muhammad-malik.jpg" alt="Muhammad Malik, CEO and founder of Aqovia">
						</div>
						<div>
							<p class="mini-profile__name">Muhammad Malik</p>
							<p class="mini-profile__role">CEO and founder</p>
						</div>
					</li>

					<li class="mini-profile">
						<div class="mini-profile__picture">
							<img src="img/mustafa-arif.jpg" alt="Mustafa Arif, Principal Architect at Aqovia">
						</div>
						<div>
							<p class="mini-profile__name">Mustafa Arif</p>
							<p class="mini-profile__role">Principal Architect</p>
						</div>
					</li>
				</ul>

				<p class="mini-profiles-more"><a href="team.html">Read more about the team</a></p>
			</div>
		</div>
	</div>
</section>


<section class="alternate-bg-section">
	<div class="edged-section">
		<p>Technology is critical in driving cultural change and that is why Aqovia are always engaged in embracing new technology. We look to adopt and embed more agile ways of working and strive to find the best solutions for our clients, which include:</p>
		
		<ul class="up-to-3-columns-collapsible-list">
			<li>Artificial Intelligence</li>
			<li>Machine Learning</li>
			<li>Adaptive learning</li>
			<li>Dashboards</li>
			<li>Portals</li>
			<li>Workflow management</li>
			<li>Cloud solutions</li>
			<li>DevOps</li>
			<li>Smart Content</li>
		</ul>
		
		<p>Whether you are looking for applications for smart content, adaptive learning, dashboards, portals, workflow management or cloud solutions, Aqovia can collaborate with you to create the most effective, long-term solution to help your business grow.</p>
	</div>
</section>


<section class="default-bg-section">
	<div class="edged-section">
		
		<h2 class="bold-heading">Why you should choose Aqovia</h2>
		<p class="accent-text">Aqovia build solutions based on <strong>value, enablement and efficiency.</strong></p>
		<p>We work in a <strong>collaborative and agile way</strong>, operating as an extension of your business. Our dedicated and highly-skilled specialists work harmoniously with you, drawing on their <strong>expertise</strong> and market knowledge to develop an innovative, cost-effective solution to meet your needs.</p>
		<p>Aqovia are <strong>forward-looking</strong> and empower organisations to embrace a ‘digital first’ culture. In an ever-evolving digital landscape, we provide confidence by ensuring that we remain at the <strong>forefront of technology</strong> so that you stay up to speed.</p>
		<p>Above all, we are <strong>passionate</strong> about what we do. Aqovia never shy away from a challenge and are continuously committed to exceed the expectations of the people and organisations who engage us.</p>

	</div>
</section>


<section class="emphasised-bg-section">
	<div class="edged-section u-text-center">
		<h2 class="default-heading">Business benefits of working with us</h2>
		<ol class="bold-numbered-list">
			<li>Organic and new revenue growth</li>
			<li>Reduced costs and wastage</li>
			<li>Evidence based strategic decision making</li>
			<li>Improved product and service offers</li>
			<li>Process and operation optimisation</li>
		</ol>
	</div>
</section>


{% include "partials/clients-logo.html" %}

{% include "partials/testimonials.html" %}

{% endblock %}