{% extends "layout.html" %}
{% set menuItem = "about" %}

{% block title %}About Aqovia{% endblock %}

{% block content %}
<section>
	<div class="edged-section">
		<p class="page-title">About us</p>
		<h1 class="page-title-subtext">Aqovia is an international digital solutions specialist, combining elite and cutting edge technologies to provide sophisticated, bespoke transformation solutions to the public and private sectors.</h1>
	</div>
</section>

<section class="transition-to-default-bg-section">
	<div class="edged-section">
		<p>Founded in 2008 as a joint venture with Cable and Wireless, Aqovia has grown to be a leader in the digital solutions space. We use our extensive experience and proven track record in Business Transformation, Systems Integration and Software Development to deliver long-term, innovative solutions spanning telecoms, technology, media, education and finance.</p>
	</div>
</section>

<section class="default-bg-section">
	<div class="edged-section">
		<p>Our clients range from small to medium organisations and government departments, through to multi-billion dollar brands, all based across the UK, Europe and Asia.</p>
		<p>Whether you are looking for applications for smart content, adaptive learning, dashboards, portals, workflow management or cloud solutions, Aqovia can collaborate with you to create the most effective, long-term solution to help your business grow.</p>
	</div>
</section>


<section class="alternate-bg-section">
	<div class="edged-section">
		<h2 class="bold-heading">Why Aqovia?</h2>
		<p class="accent-text">Aqovia build solutions based on value, enablement and efficiency.</p>
		<p>We work in a collaborative and agile way, operating as an extension of your business. Our dedicated and highly-skilled specialists work harmoniously with you, drawing on their expertise and market knowledge to develop an innovative, cost-effective solution to meet your needs.</p>
		<p>Aqovia are forward-looking and empower organisations to embrace a ‘digital first’ culture. In an ever-evolving digital landscape, we provide confidence by ensuring that we remain at the forefront of technology so that you stay up to speed.</p>
		<p>Above all, we are passionate about what we do. Aqovia never shy away from a challenge and are continuously committed to exceed the expectations of the people and organisations who engage us.</p>
	</div>
</section>


<section class="emphasised-bg-section">
	<div class="edged-section">
		<h2 class="default-heading">Business benefits:</h2>
		<ol class="bold-numbered-list">
			<li>Organic and new revenue growth</li>
			<li>Reduced costs and wastage</li>
			<li>Evidence based strategic decision making</li>
			<li>Improved product and service offers</li>
			<li>Process and operation optimisation</li>
		</ol>
	</div>
</section>



{% include "partials/clients-logo.html" %}

{% include "partials/testimonials.html" %}

{% endblock %}