{% extends "templates/layout.html" %} {% set menuItem = "aup" %} {% block title %}Acceptable Use Policy{% endblock %} {% block content %}
<section>
    <div class="edged-section">
        <p class="page-title">Acceptable Use Policy</p>
        <h1 class="page-title-subtext">This Acceptable Use Policy sets out the terms between you and Aqovia regarding the acceptable use of our website. By using our site, you agree to abide by this policy, which is designed to ensure the safety and legal compliance of all interactions.</h1>
    </div>
</section>

<section class="default-bg-section">
    <div class="edged-section">

        <h2 class="small-heading">Prohibited Uses</h2>
        <p>You may use our site only for lawful purposes. You may not use our site:</p>
        <ul class="up-to-1-columns-collapsible-list">
            <li>In any way that breaches any applicable local, national, or international law or regulation.</li>
            <li>In any way that is unlawful or fraudulent, or has any unlawful or fraudulent purpose or effect.</li>
            <li>To knowingly introduce viruses, trojans, worms, logic bombs, or other malicious or technologically harmful material.</li>
            <li>To attempt unauthorised access to any part of the website, or any related system, service, or database.</li>
            <li>To transmit, or procure the sending of, any unsolicited or unauthorised advertising or promotional material or any other form of similar solicitation (spam).</li>
            <li>For any form of data harvesting, scraping, or automated access to our website.</li>
        </ul>

        <h2 class="small-heading">User-Generated Content</h2>
        <p>Any contributions you make must:</p>
        <ul class="up-to-1-columns-collapsible-list">
            <li>Be accurate and comply with all applicable laws in the UK and any country from which they are posted.</li>
            <li>Not contain defamatory, obscene, offensive, hateful, or inflammatory content.</li>
            <li>Not infringe any copyright, database right, or trademark of any other person.</li>
            <li>Not promote violence, discrimination, or any illegal activity.</li>
        </ul>

        <h2 class="small-heading">Suspension and Termination</h2>
        <p>We will determine, in our discretion, whether your use of our site violates this policy. Failure to comply may result in actions including but not limited to:</p>
        <ul class="up-to-1-columns-collapsible-list">
            <li>Immediate, temporary, or permanent withdrawal of your right to use our site.</li>
            <li>Legal proceedings against you for reimbursement of all costs resulting from the breach.</li>
            <li>Disclosure of such information to law enforcement authorities as we reasonably feel is necessary.</li>
        </ul>

    </div>
</section>


{% include "templates/partials/clients-logo.html" %} {% include "templates/partials/testimonials.html" %} {% endblock %}