{% extends "layout.html" %}

{% block title %}Autonomic platform by Aqovia{% endblock %}

{% block content %}

<section>
	<div class="edged-section">
		<h1 class="page-title">A1 Autonomic Platform</h1>
		<p class="page-title-subtext">Streamline and scale with the Aqovia A1 Autonomic Platform. Moving Telcos forward with Artificial Intelligence based operations.</p>
	</div>
</section>

<section class="u-short-copy-font-size transition-to-default-bg-section">
	<div class="edged-section">
		<p>
			We are part of the movement taking automation to the next level, by basing it in machine learning and creating a self-managing platform that lowers the time needed to be spent on complicated tasks.
		</p>

		<a href="resources/A1-Datasheet v0.4.pdf" class="main-btn">Download data sheet</a>
	</div>
</section>

<section class="default-bg-section">
	<div class="edged-section">
		<h2 class="bold-heading">Why use an autonomic platform ?</h2>
		<h3 class="accent-text">Aqovia A1 - Autonomic Platform is applicable to various solutions and sectors, including Telco, Enterprise, Finance, Trade and Government.</h3>

		<p>
			In the case of IoT, we know that 5G networks will facilitate a wide array of business opportunities in the near future but with that potential, comes complexity and cost challenges, including:
		</p>

		<ol class="bold-numbered-list">
			<li>Increase in data volumes (doubling annually)</li>
			<li>Higher quality and lower cost expectations from users</li>
			<li>Need for speed and agility to deliver new data intensive servicess</li>
			<li>Increase to security and service offerings</li>
			<li>Growing ‘Always-on’ expectations from customers</li>
		</ol>
	</div>
</section>


<section class="alternate-bg-section">
	<div class="edged-section">
		<h3 class="accent-text">Artificial Intelligence and Machine centric Operations (AiOps) can deliver massive operational cost reductions:</h3>

		<p>
			For <strong>every $1bn</strong> in mobile Telco operator revenue
		</p>

		<ul class="unstyled-list">
			<li class="statement">
				<strong class="statement__hook">$90 million</strong>
				<span class="statement__description">in Support and Assurance cost savings</span>
			</li>

			<li class="statement">
				<strong class="statement__hook">$60 million</strong>
				<span class="statement__description">in Provisioning and Fulfilment cost savings</span>
			</li>

			<li class="statement">
				<strong class="statement__hook">$17 million</strong>
				<span class="statement__description">in Billing cost and Loss mitigation savings</span>
			</li>
		</ul>
	</div>
</section>


<section class="emphasised-bg-section">
	<div class="edged-section">
		<h2 class="bold-heading">How it works</h2>
		<h3 class="u-short-copy-font-size">Our Autonomous Platform is a cloud tool, which plugs in to your company’s entire telemetry data streams and expands the grid through self-configuration, self-optimization and self-healing functions.</h3>

		<p>
			In essence, this means that the computing system would control the functioning of computer applications and systems, and fixes itself - all without any input needed from the user.
		</p>

		<p>
			Our Autonomic Platform builds upon and brings together two important trends in IT:
		</p>

		<ol class="bold-numbered-list">
			<li>Software-defined everything’s climb up the tech stack</li>
			<li>The overhaul of IT operating and delivery models under the DevOps movement</li>
		</ol>
	</div>
</section>


<section class="default-bg-section">
	<div class="edged-section">
		<h3 class="default-heading">The architecture behind it</h3>
	</div>

	<img class="full-bleed-img" src="img/process01.png" alt="">
</section>


<section class="alternate-bg-section">
	<div class="edged-section">
		<h4 class="small-heading">Data ingestion</h4>
		<img src="img/prediction.png" alt="" class="u-pull-left -stackable">
		<p>We ingest almost any data from any source and provide an advanced alarming strategy.</p>
		<p>This alarming strategy will automate the resolving of resolved issues. Actionable alarms will only be passed on from the most impactful metrics, which actually represent a problem (not noise).</p>
	</div>
</section>


<section class="default-bg-section">
	<div class="edged-section">
		<h4 class="small-heading">Machine Learning engines</h4>
		<img src="img/machine-learning.png" alt="" class="u-pull-right -stackable">
		<p>Machine Learning is a branch of AI, based on the idea that systems learn from data.</p>
		<p>Using numerous Machine learning engines, we cross-correlate infrastructure’s behavior and create a baseline of normal behavior. If an application or infrastructure is out of the norm, the monitoring tools applies the fix and notifies you.</p>
	</div>
</section>



<section class="emphasised-bg-section">
	<div class="edged-section">
		<h2 class="bold-heading">What value does it provide to network operators ?</h2>
		<p class="u-short-copy-font-size">We want to provide the most innovative, productive and valuable platform, so that you are able to focus on core business activities. Through our platform you will benefit from:</p>

		<ol class="bold-numbered-list">
			<li>	
Enables lower costs and higher margins for competitor and market advantage</li>
			<li>Delivers a holistic customer and service focus</li>
			<li>Manages higher magnitudes of scale with minimal change in cost</li>
			<li>New data intensive service offerings</li>
		</ol>
	</div>
</section>

{% include "partials/clients-logo.html" %}

{% endblock %}