{% extends "templates/layout.html" %} {% set menuItem = "careers" %} {% block title %}Careers at Aqovia{% endblock %} {% block content %}
<section>
    <div class="edged-section">
        <h1 class="page-title">Careers</h1>
        <p class="page-title-subtext"><b>We Are Aqovia: Building the Future of Tech, Together</b></p>
        <div class="header-content">
            <p>Calling all tech innovators! Join us at Aqovia, a powerhouse software solutions company in London, where we turn ideas into reality.</p>
            <p>Our team is stacked with experts who've spent decades working at industry titans. Together, we're wizards across the entire product development lifecycle, with a special mastery in the high-growth fields you crave <b>bespoke software development, data science, engineering, AI/ML, and even software-defined specialisation</b>.
                Since 2008, Aqovia has been a tech trendsetter, leaving its mark on clients in the telecoms, media, and tech industries. Our reputation for architecture, design, and software development expertise precedes us – we're the folks who take
                on transformative projects that redefine what's possible. Here’s a glimpse of our magic:</p>
            <ul>
                <li><b>Architecture:</b> We design rock-solid, adaptable architectures that can grow and change as your needs do. No more rigid systems here!</li>
                <li><b>Design:</b> We're obsessed with creating user-centric designs that are both beautiful and functional – think interfaces that are as easy to use as they are easy on the eyes.</li>
                <li><b>Software Development:</b> We craft cutting-edge software solutions to tackle your toughest challenges and boost efficiency through agile collaboration (think "fast and flexible").</li>
            </ul>
            <p>Aqovia's dedication to innovation, expertise, and excellence means we deliver solutions that are both revolutionary and practical. So, if you're looking to join a company that's disrupting the tech scene and leaving a legacy of excellence,
                then Aqovia might just be your perfect match. Let's build the future of tech, together!</p>
        </div>
    </div>
</section>


<section class="default-bg-section">
    <div class="edged-section">
        <h2 class="bold-heading">Available roles</h2>
        <ul class="work-listing">
            <li class="work-listing__item">
                <img src="img/cv.svg" alt="Job at Aqovia" class="work-listing__visual">

                <div class="work-listing__description">
                    <h3 class="work-listing__heading">Technical Business Analyst</h3>
                    <p>Aqovia is looking for a Technical Business Analyst to join our software engineering department. You will work in fast-paced development teams for our own products and/or client projects.</p>
                    <p><a href="resources/jds/technical-business-analyst-aqovia-jun-2024.pdf">Download job description</a></p>
                </div>
            </li>

            <li class="work-listing__item">
                <img src="img/cv.svg" alt="Job at Aqovia" class="work-listing__visual">

                <div class="work-listing__description">
                    <h3 class="work-listing__heading">Senior Software Engineer</h3>
                    <p>Aqovia is looking for Software Engineers to join our agile software development team. You will work in fast-paced development teams for our own products as well as client projects.</p>
                    <p><a href="resources/jds/senior-software-engineer-aqovia-jun-2024.pdf">Download job description</a></p>
                </div>
            </li>

            <li class="work-listing__item">
                <img src="img/cv.svg" alt="Job at Aqovia" class="work-listing__visual">

                <div class="work-listing__description">
                    <h3 class="work-listing__heading">QA Data Quality Engineer</h3>
                    <p>Aqovia is looking for a talented QA Data Quality Engineer to join our agile software development team. The Data Quality Engineer will provide continuous automated and manual testing of data sets during ETL activities for clients and
                        internal projects. The Data Quality Engineer works in the data technology team with the Senior Data Engineer.</p>
                    <p><a href="resources/jds/qa-data-quality-engineer-aqovia-aug-2024.pdf">Download job description</a></p>
                </div>
            </li>

            <li class="work-listing__item">
                <img src="img/cv.svg" alt="Job at Aqovia" class="work-listing__visual">

                <div class="work-listing__description">
                    <h3 class="work-listing__heading">Technical Sales Cloud Consultant</h3>
                    <p>In this role, you'll be a key player in ensuring our clients maximise their return on investment (ROI) and operating efficiencies in the Cloud.</p>
                    <p><a href="resources/jds/cloud-technical-sales-support-specialist-aqovia-aug-2024.pdf">Download job description</a></p>
                </div>
            </li>

            <li class="work-listing__item">
                <div class="work-listing__description">
                    <h2 class="bold-heading">How to apply?</h2>
                    <p>Please fill up and submit this form.</p>
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
                    <script>
                        hbspt.forms.create({
                            region: "na1",
                            portalId: "5452351",
                            formId: "873ea69a-57b0-42ba-adad-3d0bf38f2e78"
                        });
                    </script>
                </div>
            </li>
            <li class="work-listing__item">
                <div class="work-listing__description">
                    <p>Contact <a href="mailto:hr@aqovia.com" target="_blank">hr@aqovia.com</a> for any other query.</p>
                </div>
            </li>
        </ul>


    </div>
</section>

{% include "templates/partials/clients-logo.html" %} {% include "templates/partials/testimonials.html" %} {% endblock %}