{% extends "templates/layout.html" %}
{% set menuItem = "case-studies" %}

{% block title %}Aqovia's Case Studies{% endblock %}

{% block content %}
<section>
	<div class="edged-section">
		<h1 class="page-title">Case Studies</h1>
		<p class="page-title-subtext">Aqovia delivers innovative digital solutions for a variety of key markets and major clients.</p>		
	</div>
</section>


<section class="default-bg-section">
	<div class="edged-section">

		<ul class="work-listing">
			<li class="work-listing__item">
				<img src="img/wind-turbine-icon.svg" alt="" class="work-listing__visual">

				<div class="work-listing__description">
					<h3 class="work-listing__heading">Green Energy Incident Management and Predictive Maintenance</h3>
					<p>Use Aqovia A1 Autonomic Platform artificial intelligence (AI) algorithms to manage your green energy generation assets.</p>
					<p><a href="green-energy-incident-management.html">Read more</a></p>
				</div>
			</li>

			<li class="work-listing__item">
				<img src="img/icons8-bookmark.svg" alt="" class="work-listing__visual">

				<div class="work-listing__description">
					<h3 class="work-listing__heading">Educational Publishing - Digital Transformation</h3>
					<p>Business transformation programme focused on content creation, asset management and data management</p>
					<p><a href="educational-publishing-digital-transformation.html">Read more</a></p>
				</div>
			</li>

			<li class="work-listing__item">
				<img src="img/icons8-restart.svg" alt="" class="work-listing__visual">

				<div class="work-listing__description">
					<h3 class="work-listing__heading">Financial Publishing - Rapid MVP in three months generating business value</h3>
					<p>Developed and launched a minimal viable product leveraging semantic web technologies in three months.</p>
					<p><a href="financial-publishing-rapid-development.html">Read more</a></p>
				</div>
			</li>

			<li class="work-listing__item">
				<img src="img/icons8-synchronize.svg" alt="" class="work-listing__visual">

				<div class="work-listing__description">
					<h3 class="work-listing__heading">UK Public Broadcaster - First cloud based open source agile development</h3>
					<p>Metadata portal application development for the BBC Worldwide Motion Gallery</p>
					<p><a href="metadata-for-video-imagery.html">Read more</a></p>
				</div>
			</li>

			<li class="work-listing__item">
				<img src="img/icons8-connect.svg" alt="" class="work-listing__visual">

				<div class="work-listing__description">
					<h3 class="work-listing__heading">Sales & Marketing Campaign Management</h3>
					<p>Content capability for streamlined new campaign launch for Sky UK</p>
					<p><a href="sky_sales_and_marketing_campaign_management.html">Read more</a></p>
				</div>
			</li>
		</ul>

		
	</div>
</section>



{% include "templates/partials/clients-logo.html" %}

{% include "templates/partials/testimonials.html" %}

{% endblock %}