{% extends "templates/layout.html" %} {% set menuItem = "cloud-blueprint" %} {% block title %}Cloud Blueprint{% endblock %} {% block content %}
<section>
    <div class="edged-section">
        <h1 class="page-title">Cloud Blueprint</h1>
        <p class="page-title-subtext"><b>Future-Proofing Your Cloud Strategy</b></p>
        <div class="header-content">
            <p>Cloud Blueprint provides expert guidance to help businesses assess, strategize, and architect a customised, cost-effective cloud migration plan.</p>
            <p>This is ideal cloud solution for organisations aiming to modernise and align with sustainability goals. Here are some of the organisations that can get benefit from the Cloud Blueprint solution:</p>
            <ul>
                <li>Finance</li>
                <li>Healthcare</li>
                <li>Pharma</li>
                <li>Consumer</li>
                <li>Government</li>
                <li>Legal</li>
                <li>Fast growing sectors</li>
            </ul>
        </div>
    </div>
</section>


<section class="default-bg-section">
    <div class="edged-section">
        <div class="twocolumns">
            <div class="work-listing__description">
                <h2 class="bold-heading">Comprehensive Cloud Migration Plan</h2>
                <p><b>Readiness Assessment</b> <br>Current infrastructure and identify readiness for cloud migration.</p>
                <p><b>Cloud Strategy Development</b> <br>Tailor a strategic approach aligning with business goals.</p>
                <p><b>Cloud Architecture Plan &amp; Design</b> <br>Design a robust, future-proof cloud environment.</p>
            </div>

            <div class="img">
                <img src="img/aqovia-cloud-blueprint.png" alt="Aqovia Cloud Blueprint Solution">
            </div>
        </div>
        <div class="divider">
            <h2 class="bold-heading">Why Choose Cloud Blueprint?</h2>
            <div class="row icon-blocks">
                <div>
                    <div><img src="img/future-proof-it-strategy.png" alt="Future-Proof IT Strategy" width="100"></div>
                    <b>Future-Proof IT Strategy</b> <br>Future-proof your IT infrastructure.
                </div>
                <div>
                    <div><img src="img/cost-efficient-migration.png" alt="Cost-Efficient Migration" width="100"></div>
                    <b>Cost-Efficient Migration</b> <br>Plan tailored to specific workloads and budget.
                </div>
                <div>
                    <div><img src="img/sustainability-support.png" alt="Sustainability Support" width="100"></div>
                    <b>Sustainability Support</b> <br>Reduce environmental footprint with a modern cloud infrastructure.
                </div>
            </div>
        </div>
        <div class="divider">
            <h2 class="bold-heading">Use Case</h2>
            <div>
                <div>
                    <h3 class="work-listing__heading">Let’s explore this Use Case to Understand Cost Benefits</h3>
                </div>
                <div class="row icon-blocks margin-top-10">
                    <div class="item">
                        <div><span class="icon-text">4</span></div>
                        <p><b>Number of Data Centers</b></p>
                    </div>
                    <div class="item">
                        <div><span class="icon-text">£8K</span></div>
                        <p><b>Monthly cost of running each data center</b></p>
                    </div>
                    <div class="item">
                        <div><span class="icon-text">9</span></div>
                        <p><b>Months required to complete migration</b></p>
                    </div>
                    <div class="item">
                        <div><span class="icon-text">10</span></div>
                        <p><b>Number of IP resources involved in cloud migration</b></p>
                    </div>
                    <div class="item">
                        <div><span class="icon-text">£60K</span></div>
                        <p><b>Annual salary per IT resource</b></p>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <h3 class="work-listing__heading">How much you will Investment in Cloud Blueprint</h3>
                </div>
                <div class="row icon-blocks margin-top-10">
                    <div class="item">
                        <div><span class="icon-text">£45,000</span></div>
                        <p><b>Cloud Readiness Assessment</b></p>
                        <p>Includes expert guidance and recommendations</p>
                    </div>
                    <div class="item">
                        <div><span class="icon-text">£85,000</span></div>
                        <p><b>Comprehensive Strategy, Architecture Plan, and Estimated Cloud Costs</b></p>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <h3 class="work-listing__heading">How much you can save</h3>
                </div>
                <div class="row icon-blocks margin-top-10">
                    <p><b>Expected saving is £1.7M per year.</b></p>
                </div>
                <div class="row icon-blocks margin-top-10">
                    <div>
                        <ul>
                            <li>Reduced on-prem IT infrastructure costs</li>
                            <li>Reduce migration costs</li>
                            <li>Release internal resources for strategic tasks</li>
                            <li>Align with your business objectives and deliver tangible value</li>
                        </ul>
                    </div>
                </div>
                <div class="img margin-bottom-30">
                    <img src="img/cloud-blueprint-investment-use-case.png" alt="Cloud Blueprint investment use case">
                </div>
            </div>
            <div>
                <div>
                    <h3 class="work-listing__heading">Your ROI over 3 Years</h3>
                </div>
                <div class="img margin-bottom-30">
                    <img src="img/cloud-blueprint-roi.png" alt="Cloud Blueprint ROI">
                </div>
            </div>
            <div>
                <div>
                    <h3 class="work-listing__heading">The Summary of Benefits and ROI</h3>
                </div>
                <div class="margin-top-10">
                    <p><b>Total Annual Benefit: £1.7M</b></p>
                    <ul>
                        <li>Infrastructure cost savings: £1.7M</li>
                        <li>Operational efficiencies: £0</li>
                    </ul>
                </div>
                <div class="margin-top-10">
                    <p><b>Return on investment over 3 years</b></p>
                </div>
                <div class="row icon-blocks margin-top-10">
                    <div>
                        <div><span class="icon-text">£270K</span></div>
                        <p><b>Investment</b></p>
                    </div>
                    <div>
                        <div><span class="icon-text">14x</span></div>
                        <p><b>ROI</b></p>
                    </div>
                    <div>
                        <div><span class="icon-text">£4.1M</span></div>
                        <p><b>Benefit</b></p>
                    </div>
                    <div>
                        <div><span class="icon-text">£3.8M</span></div>
                        <p><b>Net Benefit</b></p>
                    </div>
                </div>
                <div class="row icon-blocks">
                    <p><b>Payback period</b></p>
                </div>
                <div class="row icon-blocks margin-top-10">
                    <div>
                        <div><span class="icon-text">7 months</span></div>
                        <p>Approx</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider">
            <h2 class="bold-heading">You are in good hands</h2>
            <div>
                <div>
                    <h3 class="work-listing__heading">Empowering Your Cloud Journey with Expert Guidance and Tools</h3>
                </div>
                <div class="margin-top-10  margin-bottom-30">
                    <p><b>Aqovia's Cloud Blueprint enables your organisation to:</b></p>
                    <p>Achieve Cost Savings by accurately planning and budgeting for cloud expenses and migration. Optimise Resource Allocation with a clear architecture and design tailored to your specific workloads. Ensure Long-Term ROI by choosing cloud
                        solutions that maximise productivity and align with sustainability goals. Mitigate Risks through informed recommendations that consider cloud neutrality and avoid vendor lock-in.</p>
                </div>
                <div>
                    <h3 class="work-listing__heading">Our Dedicated Cloud Blueprint Team</h3>
                </div>
                <div>
                    <p>Aqovia's Cloud Blueprint service offers a dedicated team of cloud experts deployed to support your organisation's unique cloud migration needs over a period of 10-20 days. Our team members work closely with your internal IT and business
                        teams to provide customised insights and recommendations.</p>
                </div>
                <div class="row icon-blocks margin-top-10 margin-bottom-30">
                    <div class="item">
                        <p><b>Cloud Lead:</b></p>
                        <p>Oversees the entire migration strategy, ensuring alignment with business goals and maximising ROI.</p>
                    </div>
                    <div class="item">
                        <p><b>Cloud Architect:</b></p>
                        <p>Designs and tailors the cloud architecture blueprint to meet your organisation's specific technical and operational needs.</p>
                    </div>
                    <div class="item">
                        <p><b>Cloud Analyst:</b></p>
                        <p>Conducts in-depth assessments of your current infrastructure, providing detailed reports on readiness, optimisation, and potential areas for cost reduction.</p>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <h3 class="work-listing__heading">Advanced Tools for Efficient Planning and Accurate Costing</h3>
                </div>
                <div>
                    <p>Aqovia empowers your journey with state-of-the-art tools designed to streamline the planning, architecture design, and cost estimation processes, providing a transparent and effective roadmap for your cloud transformation.</p>
                </div>
                <div class="row icon-blocks margin-top-10">
                    <div class="item">
                        <p><b>Planning and Architecture Design Tool:</b></p>
                        <p>This tool aids our team in creating a detailed, future-proof architecture for your cloud environment. It helps in visualising key infrastructure components and identifying areas for optimisation and scalability, ensuring that the
                            design aligns with both immediate and long-term objectives.</p>
                    </div>
                    <div class="item">
                        <p><b>Cloud Costing &amp; ROI Tool:</b></p>
                        <p>A powerful resource for estimating cloud migration costs and projecting ROI, this tool allows our team to evaluate various cloud providers and models, ensuring that you receive a cost-effective, unbiased recommendation. It also
                            helps calculate potential savings over time, showing the impact of moving from an on-premise setup to a cloud-based model in terms of operational costs and resource efficiency.</p>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <h3 class="work-listing__heading">Why Partner with Aqovia?</h3>
                </div>
                <div>
                    <p>Choosing the right cloud partner is essential to a successful, cost-effective cloud migration. Aqovia stands out by providing unbiased, cloud-neutral solutions tailored to protect and enhance your organisation's interests. With a focus
                        on cost savings, resource optimisation, and sustainability, Aqovia's Cloud Blueprint not only reduces your IT expenses by up to 30% but also boosts productivity and supports environmental goals. Here is why Aqovia is the trusted
                        choice for forward-thinking cloud strategies.</p>
                </div>
                <div class="row icon-blocks">
                    <div class="item">
                        <div><img src="img/cost-savings.png" alt="Cost Savings" width="100"></div>
                        <b>Cost Savings</b> <br>Reduce IT infrastructure costs by 20%-30% annually
                    </div>
                    <div class="item">
                        <div><img src="img/unbiased-cloud-solutions.png" alt="Unbiased Cloud Solutions" width="100"></div>
                        <b>Unbiased Cloud Solutions</b> <br>Independent recommendations with no cloud provider bias
                    </div>
                    <div class="item">
                        <div><img src="img/sustainability-focused.png" alt="Sustainability Focused" width="100"></div>
                        <b>Sustainability Focused</b> <br>Custom sustainability reporting on IT transformation
                    </div>
                    <div class="item">
                        <div><img src="img/resource-efficiency.png" alt="Resource Efficiency" width="100"></div>
                        <b>Resource Efficiency</b> <br>Free internal resources, leading to a 25% productivity increase
                    </div>
                    <div class="item">
                        <div><img src="img/end-to-end-support.png" alt="End-to-end support" width="100"></div>
                        <b>End-to-end support</b> <br>Support from initial assessment to ongoing optimisation
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <h3 class="work-listing__heading">Proven Results with Aqovia</h3>
                </div>
                <div class="row icon-blocks margin-top-10">
                    <div class="item">
                        <div class="icon-text">20% to 30%</div>
                        <p>Reduced on-prem IT infrastructure costs</p>
                    </div>
                    <div class="item">
                        <div class="icon-text">20% to 30%</div>
                        <p>Reduce migration costs</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider margin-bottom-30">
            <h2 class="bold-heading">Ready to Transform Your IT Strategy?​</h2>
            <p><a href="contact.html" class="main-btn">Contact Us</a></p>
        </div>
    </div>
    </div>
</section>

{% include "templates/partials/clients-logo.html" %} {% include "templates/partials/testimonials.html" %} {% endblock %}