{% extends "layout.html" %}

{% block title %}Contact Aqovia{% endblock %}

{% block content %}
<section>
	<div class="edged-section">
		<h1 class="page-title">Get in touch</h1>
		<p class="page-title-subtext">If you think we can help you achieve your business goals or are interested in finding out more, please get in touch. We’d be happy to see what we could do for you.</p>		
	</div>
</section>


<section class="default-bg-section">
	<div class="edged-section">

		<div class="contact-details">
			<div class="contact-details__item">
				<h2 class="contact-details__label">International Sales Manager</h2>
				<p class="contact-details__info">Robert Wolters</p>
				<p class="contact-details__info u-smaller-text"><a href="mailto:robert.wolters@aqovia.com">robert.wolters@aqovia.com</a></p>
			</div>
		</div>
		
		<div class="offices">
			
			<div class="office-details">
				<div class="office-details__image">
					<img src="img/we-work-aqovia.jpg" alt="Aqovia office in London" class="u-full-width">
				</div>

				<div class="office-details__section">
					<h2 class="label-heading">UK Office</h2>
					<p class="u-margin-none">1 Primrose Street</p>
					<p class="u-margin-none">EC2A 2EX London</p>
					<p>United-Kingdom</p>
					<p>+44 20 7242 2956</p>
					<p class="u-smaller-text"><a href="https://goo.gl/maps/R3TxNYuRmh12">View on a map</a></p>
				</div>
			</div>

			<div class="office-details">
				<div class="office-details__image">
					<img src="img/aqovia-netherlands.jpg" alt="Aqovia office in Netherlands" class="u-full-width">
				</div>

				<div class="office-details__section">
					<h2 class="label-heading">NL Office</h2>
					<p class="u-margin-none">Regus, Azura</p>
					<p class="u-margin-none">Saturnusstraat 46-62</p>
					<p class="u-margin-none">2132 HB Hoofddorp</p>
					<p>Netherlands</p>
					<p>+31 23 799 3004</p>
					<p class="u-smaller-text"><a href="https://goo.gl/maps/D1KUXb9hVf42">View on a map</a></p>
				</div>
			</div>

		</div>

	</div>
</section>

{% include "partials/clients-logo.html" %}

{% include "partials/testimonials.html" %}

{% endblock %}