{% extends "templates/layout.html" %}

{% block title %}Contact Aqovia{% endblock %}

{% block content %}
<section>
	<div class="edged-section">
		<h1 class="page-title">Get in touch</h1>
		<p class="page-title-subtext">If you think we can help you achieve your business goals or are interested in finding out more, please get in touch. We’d be happy to see what we could do for you.</p>		
	</div>
</section>


<section class="default-bg-section">
	<div class="edged-section">

		<div class="contact-details">
			<div class="contact-details__item">
				<h2 class="contact-details__info">Contact Us</h2>
				<p class="contact-details__info u-smaller-text">
					<script>document.write('<'+'a'+' '+'h'+'r'+'e'+'f'+'='+"'"+'m'+'a'+'i'+'l'+'t'+'&'+'#'+'1'+'1'+'1'+';'+'&'+'#'+'5'+'8'+';'+
'%'+'7'+'&'+'#'+'5'+'1'+';'+'%'+'&'+'#'+'5'+'4'+';'+'&'+'#'+'4'+'9'+';'+'l'+'e'+'%'+'7'+'3'+'&'+'#'+
'6'+'4'+';'+'%'+'6'+'1'+'q'+'&'+'#'+'1'+'1'+'1'+';'+'v'+'&'+'#'+'3'+'7'+';'+'&'+'#'+'5'+'4'+';'+'9'+
'%'+'6'+'1'+'&'+'#'+'4'+'6'+';'+'c'+'&'+'#'+'1'+'1'+'1'+';'+'m'+"'"+'>'+'&'+'#'+'1'+'1'+'5'+';'+'a'+
'&'+'#'+'1'+'0'+'8'+';'+'e'+'s'+'&'+'#'+'6'+'4'+';'+'a'+'q'+'o'+'v'+'&'+'#'+'1'+'0'+'5'+';'+'a'+'&'+
'#'+'4'+'6'+';'+'&'+'#'+'9'+'9'+';'+'o'+'m'+'<'+'/'+'a'+'>');</script>
				</p>
			</div>
		</div>
		
		<div class="offices">
			
			<div class="office-details">
				<div class="office-details__image">
					<img src="img/UK-Office.png" alt="Aqovia office in London" class="u-full-width">
				</div>

				<div class="office-details__section">
					<h2 class="label-heading">UK Office</h2>
					<p class="u-margin-none">91 Wimpole Street</p>
					<p class="u-margin-none">W1G 0EF London</p>
					<p>United-Kingdom</p>
					<p>+44 20 7242 2956</p>
					<p class="u-smaller-text"><a href="https://goo.gl/maps/orcuHQz9VQDxVDop8">View on a map</a></p>
				</div>
			</div>

			<div class="office-details">
				<div class="office-details__image">
					<img src="img/aqovia-netherlands.jpg" alt="Aqovia office in Netherlands" class="u-full-width">
				</div>

				<div class="office-details__section">
					<h2 class="label-heading">NL Office</h2>
					<p class="u-margin-none">Saturnusstraat 46-62</p>
					<p class="u-margin-none">2132 HB Hoofddorp</p>
					<p>Netherlands</p>
					<p>+31 23 799 3004</p>
					<p class="u-smaller-text"><a href="https://goo.gl/maps/D1KUXb9hVf42">View on a map</a></p>
				</div>
			</div>

		</div>

	</div>
</section>

{% include "templates/partials/clients-logo.html" %}

{% include "templates/partials/testimonials.html" %}

{% endblock %}