{% extends "templates/layout.html" %}
{% set menuItem = "work" %}

{% block title %}DevOps by Aqovia{% endblock %}

{% block content %}
<section>
	<div class="edged-section">
		<p class="page-title">DevOps</p>
		<h1 class="page-title-subtext">Achieve quality and fast paced delivery through automation, collaboration and cultural change management.</h1>
	</div>
</section>


<section class="transition-to-default-bg-section">
	<div class="edged-section">
		<a href="resources/devops-v0.5.pdf" class="main-btn u-margin-bottom-large">Download infographics</a>
		
		<p>Aqovia have been practicing and implementing DevOps for Enterprise and Government for more than 5 years. We partner with our clients to achieve a clear and transparent communications framework, leverage automation and implement tools to help teams achieve rapid productivity gains.</p>

		<p>Our experts conduct a review of your existing technology applications and infrastructure and recommend the best approach to adopt a DevOps approach for product, development and operations.</p>
	</div>
</section>

<section class="default-bg-section">
	<div class="edged-section u-overflow-clear">
		<h2 class="bold-heading">Why use DevOps?</h2>
		<p>In simple terms - companies that incorporate DevOps practices get more done. With markets moving at such a rapid pace, software needs to deliver more quickly.</p>

		<p>By adopting DevOps approaches, businesses can benefit from a range of technical, cultural and improvements:</p>
		
		<div class="u-text-center">
			<ol class="bold-numbered-list">
				<li>Faster pace of Development </li>
				<li>Greater quality assurance</li>
				<li>Improved communication and collaboration</li>
				<li>Happier end users</li>
				<li>Better applications and products</li>
				<li>More time to innovate</li>
			</ol>
		</div>

	</div>
</section>

<section class="alternate-bg-section">
	<div class="edged-section">
		<h2 class="bold-heading">How it works</h2>
		<p>Software processes have changed significantly over the years. Traditionally, the process would involve several tasks performed by different departments:</p>

		<!-- insert img of old way of working -->

		<p>Working in silos slows down the process. The DevOps approach offers a new way of working - a holistic approach, where everyone is involved throughout the entire service lifecycle, from the creation to the production support:</p>

		<!-- insert img of new way of working -->
		<img src="img/devops-cycle.png" alt="" class="u-centered-image">

		<p>By establishing collaboration between Development and IT Operations you not only increase the production rate, but also the reliability, stability, resilience of the production itself. </p>

		<!-- Insert img of cross functional tems -->


	</div>
</section>

<section class="default-bg-section">
	<div class="edged-section">
		<!-- <p>A cultural shift and adoption of DevOps is not simple or easily achieved. Aqovia have been practicing and implementing DevOps for more than 5 years and partner with our clients to achieve a clear and transparent communications framework, leverage automation and implement tools to help teams achieve rapid productivity gains.</p> -->

		<p class="accent-text">Aqovia deploy software solutions using an agile framework, ensuring high product quality, greater customer satisfaction and a faster ROI.</p>

		<p>The Aqovia DevOps toolkit and tool delivers Return on Investment and DevOps Intelligence through the implementation of: </p>

		<img src="img/devops-fig.png" alt="" class="u-centered-image">
	</div>
</section>

<section class="emphasised-bg-section">
	<div class="edged-section">
		<h2 class="bold-heading">The benefits</h2>
		<p>With Aqovia DevOps solutions, you will see the following benefits for your business:</p>
	</div>
	
	<ul class="unstyled-list u-row -four-items-stackable-in-two">
		<li class="statement u-text-center">
			<img src="img/up-green.png" alt="" class="u-centered-img">
			<strong class="statement__hook">46x</strong>
			<span class="statement__description">more frequent code development</span>
		</li>
		
		<li class="statement u-text-center">
			<img src="img/up-green.png" alt="" class="u-centered-img">
			<strong class="statement__hook">96x</strong>
			<span class="statement__description">faster mean time to recover (MTTR)</span>
		</li>
		
		<li class="statement u-text-center">
			<img src="img/up-green.png" alt="" class="u-centered-img">
			<strong class="statement__hook">440x</strong>
			<span class="statement__description">faster lead time from commit to deploy</span>
		</li>
		
		<li class="statement u-text-center">
			<img src="img/down-red.png" alt="" class="u-centered-img">
			<strong class="statement__hook">5x</strong>
			<span class="statement__description">lower change failure rate</span>
		</li>
	</ul>	
</section>

{% include "templates/partials/clients-logo.html" %}

{% endblock %}