{% extends "templates/layout.html" %}
{% set menuItem = "case-studies" %}

{% block title %}Educational Publishing Digital Transformation{% endblock %}

{% block content %}

<section>
	<div class="edged-section">
		<p class="page-title">Digital Transformation</p>
		<h1 class="page-title-subtext">Education services provider and media publisher with £1.4bn international revenues, 18,200 employees, 3 business units and business across 14 core countries with presence in 80+ others</h1>
	</div>
</section>

<section class="transition-to-default-bg-section">
		<div class="edged-section">
            <ul class="testimonials">
                <li class="testimonials__item">
                    <div class="testimonials__visual">
                        <img src="img/clients/pearson.svg" alt="Pearson">
                    </div>
    
                    <div class="testimonials__content">
                        <p class="testimonials__quote">Aqovia has a quality team that demonstrate excellent understanding and application of value centric business transformation.</p>
                        <p class="testimonials__author">Michelle Seed</p>
                        <p class="testimonials__author-meta">VP Strategic Planning</p>
                    </div>
                </li>
            </ul>
	</div>
</section>

<section class="default-bg-section">
	<div class="edged-section">

		<div class="up-to-2-columns-collapsible-list">
			
			<div class="u-margin-bottom-medium">
				<h3 class="default-heading">1. What</h3>

				<ul>
                    <li>Strategic transformation programme necessitated by a complete transformation of industry from print to digital</li>
                    <li>Focused on content creation, asset management and data management</li>
                    <li>End-to-end common digital process (XML / digital first workflow)</li>
                    <li>Smart, format agnostic content with direct to consumer focus</li>
                </ul>
				
			</div>


			<div>
                <!-- insert image -->
			</div>

		</div>	

	</div>
</section>



<section class="alternate-bg-section">
	<div class="edged-section">

		<div class="up-to-2-columns-collapsible-list">
            <div>
				<!-- insert image -->
			</div>
			
			<div class="u-margin-bottom-medium">
				<h3 class="default-heading">2. Why</h3>

				<ul>
                    <li>Create (and transform) content once for print or digital channel</li>
                    <li>Increase content re-use and generate workflow process efficiencies</li>
                    <li>Enable revenue uplift from mobile, personalized learning, content APIs</li>
                </ul>
				
			</div>

		</div>	

	</div>
</section>



<section class="default-bg-section">
	<div class="edged-section">

		<div class="up-to-2-columns-collapsible-list">
			
			<div class="u-margin-bottom-medium">
				<h3 class="default-heading">3. How</h3>

				<ul>
                    <li>Created a business technology framework and developed a new digital operating model for a digital value chain</li>
                    <li>Developed and tested new products, including AI based adaptive learning</li>
                    <li>Developed new digital ways of working application</li>
                    <li>Mapped current state, defined the future state, target operating model and target architecture</li>
                    <li>Created and gained approval for business case detailing benefits through revenue/margin, operational efficiency and employee engagement</li>
                    <li>Prioritization of requirements and use cases across lines of business and geographies</li>
                    <li>Delivered wireframes, prototypes and pilots</li>
                </ul>
				
			</div>


			<div>
				<!-- insert image -->
			</div>

		</div>	

	</div>
</section>



<section class="alternate-bg-section">
	<div class="edged-section">

		<div class="up-to-2-columns-collapsible-list">
            <div>
				<!-- insert image -->
			</div>
			
			<div class="u-margin-bottom-medium">
				<h3 class="default-heading">4. Value</h3>

				<ul>
                    <li>$30m annual content re-use and process efficiency benefits</li>
                    <li>Content capability for new product launch</li>
                </ul>
				
			</div>

		</div>	

	</div>
</section>



{% endblock %}


{% block footerHeading %}To find out more about incident management and predictive maintenance.{% endblock %}
{% block footerDescription %}Please get in touch with a member of our team today.{% endblock %}