{% extends "templates/layout.html" %}

{% block title %}Energy Asset Management by Aqovia{% endblock %}

{% block content %}
<section class="home-hero u-padding-bottom-none">
	<div class="edged-section">
		
		<h1 class="home-hero__statement">
			<span class="home-hero__text">Do you know which are your</span>
			<span class="home-hero__accent-text">Best Performing Energy Assets?</span>
		</h1>

        <p class="page-title-subtext">Managing energy assets and optimising their performance and lifespan is becoming of paramount importance to ensure maximum return on investment.</p>
	
	</div>
</section>

<section class="transition-to-default-bg-section">
	<div class="edged-section u-padding-top-none">
		<p>Diversifying your renewable energy sources (solar, wind, hydro, etc.) can lead to a mixed portfolio of assets.</p>

        <p>This is further impacted by:</p>
	</div>
</section>

<section class="default-bg-section">
	<div class="edged-section u-padding-top-none">
        <ul class="u-margin-top-none">
            <li>Your plants are delivered by different EPC vendors, introducing different procedures and processes</li>
            <li>Different hardware with different settings procured by numerous suppliers</li>
            <li>Varying warranty and maintenance terms and conditions</li>
            <li>Varying asset lifespan, engineering skills and parts</li>
        </ul>

        <p>Your operating model requires significant adjustments to cope with these variations. Adjustments which are often costly and time consuming.</p>
	</div>
</section>

<section class="alternate-bg-section">
	<div class="edged-section">
		<h2 class="bold-heading">Aqovia A1 Energy Asset management Platform - Intelligent optimisation of your asset portfolio</h2>

        <p>Ensure you are getting the best insights and actions from your data, allowing you to address your most urgent BI questions with Aqovia’s A1 Energy Asset Management Platform. It enables you to centralise key information from your distributed asset portfolio, helping you:</p>
		
        <ul>
            <li>Understand the performance of your assets at various levels of granularity</li>
            <li>Allow for tighter management of vendor & supplier contractual obligations</li>
            <li>Streamline maintenance to performance</li>
            <li>Engineer call out planning and alignment to parts stock management.</li>
        </ul>
	</div>
</section>

<section class="default-bg-section">
	<div class="edged-section">

        <img src="img/Energy-Management-Dashboard.png" alt="energy management dashboard" class="u-centered-image u-custom-max-width" style="--custom-max-width: 500px">

        <h2 class="bold-heading">Our integrated information scorecard leads the way</h2>

        <p>We use our ISO 55000-compliant scorecard to assess your Energy Asset Management capabilities. We look at the People, Process, Information and Technology dimensions and score your:</p>

        <ul>
            <li>Financial management</li>
            <li>Technical asset management</li>
            <li>Operations procedures</li>
            <li>Maintenance procedures</li>
        </ul>
	</div>
</section>

<section class="emphasised-bg-section">
	<div class="edged-section u-text-center">
		<h2 class="default-heading">Why</h2>
        <p>A1 Energy Asset Management Platform enables you to quickly and effectively answer key questions, such as:
        </p>

        <div class="u-row -three-items-stackable">
            <div>
                <h3>ROI</h3>
                <p>Improve your return on investment by optimising you plant and asset production capacity</p>
            </div>

            <div>
                <h3>Cost</h3>
                <p>Minimise your costs by tighter asset maintenance and warranty tracking</p>
            </div>

            <div>
                <h3>Output</h3>
                <p>Maximise your energy output by aligning maintenance to availability and demand</p>
            </div>
        </div>
	</div>
</section>

<section class="default-bg-section">
	<div class="edged-section u-text-center">

        <h2 class="bold-heading">Who is it for</h2>

        <ol class="bold-numbered-list">
            <li>CxO</li>
            <li>Head of Operations</li>
            <li>Head of Optimisation</li>
            <li>Asset Managers</li>
            <li>Service Managers</li>
        </ol>
	</div>
</section>

{% include "templates/partials/clients-logo.html" %}

{% endblock %}