{% extends "templates/layout.html" %}
{% set menuItem = "case-studies" %}

{% block title %}Euromoney Rapid Digital Development{% endblock %}

{% block content %}

<section>
	<div class="edged-section">
		<p class="page-title">Financial Publishing</p>
		<h1 class="page-title-subtext">Financial research and publishing house with $500m+ revenues and a presence across leading financial hubs around the world</h1>
	</div>
</section>



<section class="default-bg-section">
	<div class="edged-section">

		<div class="up-to-2-columns-collapsible-list">
			
			<div class="u-margin-bottom-medium">
				<h3 class="default-heading">1. What</h3>

				<p>Develop and launch a minimal viable product leveraging semantic web technologies in three months.</p>
				
			</div>


			<div>
                <!-- insert image -->
			</div>

		</div>	

	</div>
</section>



<section class="alternate-bg-section">
	<div class="edged-section">

		<div class="up-to-2-columns-collapsible-list">
            <div>
				<!-- insert image -->
			</div>
			
			<div class="u-margin-bottom-medium">
				<h3 class="default-heading">2. Why</h3>

				<ul>
                    <li>Increase revenues and efficiency of content creation</li>
                    <li>Demonstrate thought leadership and enhance the customer experience</li>
                </ul>
				
			</div>

		</div>	

	</div>
</section>



<section class="default-bg-section">
	<div class="edged-section">

		<div class="up-to-2-columns-collapsible-list">
			
			<div class="u-margin-bottom-medium">
				<h3 class="default-heading">3. How</h3>

				<p>Aqovia deployed a specialist MVP team to successfully develop and deliver the B2C product on time. Core deliverables included:</p>

				<ul>
                    <li>Rapid analysis and prioritisation of top features and story backlog using Aqovia’s “MVP Feature Blueprint” approach.</li>
                    <li>Layered wireframes and interactive prototypes</li>
                    <li>Continual customer feedback loops to refine and validate features</li>
                    <li>Process change management to align existing business e.g. content management, training and support.</li>
                </ul>
				
			</div>


			<div>
				<!-- insert image -->
			</div>

		</div>	

	</div>
</section>



<section class="alternate-bg-section">
	<div class="edged-section">

		<div class="up-to-2-columns-collapsible-list">
            <div>
				<!-- insert image -->
			</div>
			
			<div class="u-margin-bottom-medium">
				<h3 class="default-heading">4. Value</h3>

				<ul>
                    <li>Target $10m+ sales uplift from new interactive services</li>
                    <li>Interactive data analysis - unlocking value from historical content</li>
					<li>User generated research - allowing users to pull content based on interests.</li>
					<li>Alpha product launched, on time to tenant customers.</li>
                </ul>
				
			</div>

		</div>	

	</div>
</section>



{% endblock %}


{% block footerHeading %}To find out more about incident management and predictive maintenance.{% endblock %}
{% block footerDescription %}Please get in touch with a member of our team today.{% endblock %}