{% extends "templates/layout.html" %}

{% block title %}Aqovia - Deliver innovative digital solutions{% endblock %}

{% block content %}
<section class="home-hero">
	<div class="edged-section">
		
		<h1 class="home-hero__statement">
			<span class="home-hero__text">Delivering innovative and bespoke</span>
			<span class="home-hero__accent-text">Digital Solutions</span>
			<span class="home-hero__text">to excel your business</span>
		</h1>
		<a href="what-we-do.html" class="main-btn -big">See what we do</a>
	
	</div>
</section>

<section class="transition-to-default-bg-section">
	<div class="short-copy-emphasis edged-section">
		<p class="u-margin-none">Our expert scientists, engineers and analysts collaborate with you to create value and user centric solutions. Read our story</p>
		<p class="u-margin-none"><a href="about.html">Read our story</a></p>
	</div>
</section>

<section class="default-bg-section">
	<div class="edged-section">
		<h2 class="bold-heading">What we do</h2>

		<ul class="work-listing">
			<li class="work-listing__item">
				<img src="img/wind-turbine-icon.svg"  class="work-listing__visual">

				<div class="work-listing__description">
					<h3 class="work-listing__heading">Energy Asset Management</h3>
					<p>Meet your clients' renewable energy needs with our Energy Asset Management platform.</p>
					<p><a href="energy-asset-management.html">Read more</a></p>
				</div>
			</li>

			<li class="work-listing__item">
				<img src="img/a1-platform-icon.svg" alt="" class="work-listing__visual">

				<div class="work-listing__description">
					<h3 class="work-listing__heading">A1 Intelligence Management Platform</h3>
					<p>Introducing an intelligence platform that enables you to understand the ROI of your AI investments and manage and increase the efficiency of your algorithms.</p>
					<p><a href="a1_intelligence-management-platform.html">Read more</a></p>
				</div>
			</li>

			<li class="work-listing__item">
				<img src="img/sdn-nvf-icon.svg" alt="" class="work-listing__visual">

				<div class="work-listing__description">
					<h3 class="work-listing__heading">SDN | NFV</h3>
					<p>Pioneering Software Defined Networking and Network Function Virtualisation solutions for significant costs savings and increased network capabilities.</p>
					<p><a href="software-defined-network.html">Read more</a></p>
				</div>
			</li>

			<li class="work-listing__item">
				<img src="img/devops-icon.svg" alt="" class="work-listing__visual">

				<div class="work-listing__description">
					<h3 class="work-listing__heading">DevOps</h3>
					<p>Aqovia DevOps enables fast paced product and technology programme delivery through automation, collaboration and cultural change management.</p>
					<p><a href="devops.html">Read more</a></p>
				</div>
			</li>

			<li class="work-listing__link">
				<a href="what-we-do.html">View all</a>
			</li>
		</ul>

		
	</div>
</section>

{% include "templates/partials/clients-logo.html" %}

{% include "templates/partials/testimonials.html" %}


{% endblock %}