{% extends "templates/layout.html" %}
{% set menuItem = "case-studies" %}

{% block title %}Metadata for video imagery{% endblock %}

{% block content %}

<section>
	<div class="edged-section">
		<h1 class="page-title">Firt Cloud Based Open Source Agile Development</h1>
		<p class="page-title-subtext">Global media company with £1bn+ revenues and 2,500 employees</p>
	</div>
</section>

<section class="transition-to-default-bg-section">
		<div class="edged-section">
            <ul class="testimonials">
                <li class="testimonials__item">
                    <div class="testimonials__visual">
                        <img src="img/clients/bbc.svg" alt="Pearson">
                    </div>
    
                    <div class="testimonials__content">
                        <p class="testimonials__quote">Aqovia sets the standards on how to run technology projects.</p>
                        <p class="testimonials__author">Andrew Stephens</p>
                        <p class="testimonials__author-meta">Head of Operations at BBC Motion Gallery</p>
                    </div>
                </li>
            </ul>
	</div>
</section>

<section class="default-bg-section">
	<div class="edged-section">

		<div class="u-layout -flex">
			
			<div class="u-layout__accent-strong u-margin-bottom-medium">
				<h3 class="default-heading">1. What</h3>

				<ul>
                    <li>Metadata portal application development for the BBC Worldwide Motion Gallery</li>
                    <li>BBCW Motion Gallery is the footage licensing division of BBCW</li>
                    <li>Exclusive representative of CBS News Archive</li>
                    <li>Global distributor for NHK, CCTV and ABC.</li>
					<li>Enables BBC Motion Gallery employees to create video clip metadata and organise those into saleable packages through a web interface.</li>
                </ul>
				
			</div>


			<div>
                <!-- insert image -->
			</div>

		</div>	

	</div>
</section>



<section class="alternate-bg-section">
	<div class="edged-section">

		<div class="u-layout -flex">
            <div>
				<!-- insert image -->
			</div>
			
			<div class="u-layout__accent-strong u-margin-bottom-medium">
				<h3 class="default-heading">2. Why</h3>

				<ul>
                    <li>Improve discovery – increase sales and quality of service offering</li>
                    <li>Dynamically configure fields and improve asset association – reduce support costs</li>
                    <li>Robust rights management – reduce mitigation risk</li>
                </ul>
				
			</div>

		</div>	

	</div>
</section>



<section class="default-bg-section">
	<div class="edged-section">

		<div class="u-layout -flex">
			
			<div class="u-margin-bottom-medium">
				<h3 class="default-heading">3. How</h3>

				<ul>
                    <li>Value driven prioritization and delivery of functionality</li>
                    <li>User behaviour driven design with agile iteration</li>
                    <li><strong>First cloud based open sourced agile development at BBC Worldwide</strong></li>
                </ul>
				
			</div>


			<div>
				<!-- insert image -->
				<img src="img/BBCWW-webimage-05.png" alt="BBC Motion Gallery Architecture diagram">
			</div>

		</div>	

	</div>
</section>



<section class="alternate-bg-section">
	<div class="edged-section">

		<div class="u-layout -flex">
            <div>
				<!-- insert image -->
			</div>
			
			<div class="u-layout__accent-strong u-margin-bottom-medium">
				<h3 class="default-heading">4. Value</h3>

				<ul>
                    <li>New channels to market driving sales uplift</li>
                    <li>Significant IT cost savings</li>
                </ul>
				
			</div>

		</div>	

	</div>
</section>



{% endblock %}


{% block footerHeading %}To find out more about incident management and predictive maintenance.{% endblock %}
{% block footerDescription %}Please get in touch with a member of our team today.{% endblock %}