{% extends "templates/layout.html" %}
{% set menuItem = "case-studies" %}

{% block title %}Sky's Sales and Marketing Campaign Management{% endblock %}

{% block content %}

<section>
	<div class="edged-section">
        <h1 class="home-hero__statement">
			<span class="home-hero__text">Sales and Marketing</span>
			<span class="home-hero__accent-text">Campaign Management</span>
		</h1>
		<p class="page-title-subtext">Sky UK, part of Sky Europe (£12bn revenues, 130k employees), UK Sky Sales & Marketing Campaign Management, circa 200 employees.</p>
	</div>
</section>


<section class="default-bg-section">
	<div class="edged-section">

		<div class="u-layout -flex">
			
			<div class="u-layout__accent-strong u-margin-bottom-medium">
				<h3 class="default-heading">1. What</h3>

				<ul>
                    <li>Sky Sales & Marketing Campaign Content Management</li>
                    <li>Business transformation programme focused on content creation, asset management and data management</li>
                    <li>End-to-end common digital process (XML / digital first workflow)</li>
                    <li>Smart, format agnostic content with direct to consumer focus</li>
                </ul>
				
			</div>


			<div>
                <!-- insert image -->
			</div>

		</div>	

	</div>
</section>



<section class="alternate-bg-section">
	<div class="edged-section">

		<div class="u-layout -flex">
            <div>
				<!-- insert image -->
			</div>
			
			<div class="u-layout__accent-strong u-margin-bottom-medium">
				<h3 class="default-heading">2. Why</h3>

				<ul>
                    <li>Increase content re-use</li>
                    <li>Generate workflow process efficiencies</li>
                </ul>
				
			</div>

		</div>	

	</div>
</section>



<section class="default-bg-section">
	<div class="edged-section">

		<div class="u-layout -flex">
			
			<div class="u-layout__accent-strong u-margin-bottom-medium">
				<h3 class="default-heading">3. How</h3>

				<ul>
                    <li>Definition of future state, target operating model, target architecture and business case</li>
                    <li>Prioritization of requirements and use cases</li>
                    <li>Delivery of wireframes, prototypes and pilots</li>
                    <li>Implementation of content management solution</li>
                </ul>
				
			</div>


			<div>
				<!-- insert image -->
			</div>

		</div>	

	</div>
</section>



<section class="alternate-bg-section">
	<div class="edged-section">

		<div class="u-layout -flex">
            <div>
				<!-- insert image -->
			</div>
			
			<div class="u-layout__accent-strong">
				<h3 class="default-heading">4. Value</h3>

				<ul>
                    <li>$2m annual content re-use and process efficiency benefits</li>
                </ul>
				
			</div>

		</div>	

	</div>
</section>



{% endblock %}


{% block footerHeading %}To find out more about rapid sales &amp; marketing campaign management.{% endblock %}
{% block footerDescription %}Please get in touch with a member of our team today.{% endblock %}