{% extends "layout.html" %}
{% set menuItem = "work" %}

{% block title %}Software Defined Network{% endblock %}

{% block content %}
<section>
	<div class="edged-section">
		<p class="page-title">SDN &amp; NFV</p>
		<h1 class="page-title-subtext">Pioneering Software Defined Networking (SDN) and Network Function Virtualisation (NFV) solutions to help businesses reduce costs and increase network performance</h1>
	</div>
</section>

<section class="transition-to-default-bg-section">
	<div class="edged-section">
		<p>Aqovia are leading experts in delivering bespoke SDN and NFV solutions, leveraging cutting edge technology to help automate your work activities. Our specialist team work with you to create the most agile, reliable and cost-effective solution to fit your business.</p>
		<a href="resources/SDN-Datasheet-v0.4.pdf" class="main-btn">Download data sheet</a>
	</div>
</section>

<section class="default-bg-section">
	<div class="edged-section">
		<h2 class="bold-heading">Why use a SDN - NFV solution?</h2>
		<p>Most technology, media and telecom businesses still operate at a level where computers offer very little assistance in work activities. Humans remain in control of all decisions and actions, which has an impact on the time and cost spent on complex activities.</p>

		<p class="accent-text">
			Providing automated applications can not only increase revenue and reduce costs but also vastly improve the quality of experience.
		</p>
		
		<p>Reducing the time to resolve support tickets (Assurance) by <strong>70%</strong></p>
	</div>
</section>


<section class="default-bg-section">
	<div class="edged-section">
		<h2 class="bold-heading">How it works</h2>
		<img src="img/sdn-nfv-how.jpg" alt="" class="u-pull-right">
		<p>SDN is a broad term that describes the separation of the management, control and data-forwarding planes of networks.</p>
		<p>While SDN is a critical step on the path to a modernised network, many services are still tied to the underlying hardware.</p>
		<p>NFV focuses on optimising the network services themselves and decouples the network function from the hardware, virtualising it. This allows it to be run in a virtual machine on any compute platform, where it can self-manage.</p>

		<p>The combination of SDN and NFV enables autonomous management, network complexity reduction and the dynamic provisioning of network services such as firewalls and load balancers. This reduces CapEx and Opex and allows service providers to create and charge for new specialised network services.</p>
		<img src="img/autonomous-management.jpg" alt="">
	</div>
</section>

<section class="alternate-bg-section">
	<div class="edged-section u-overflow-clear">
		<h2 class="bold-heading">Area of expertise</h2>

		<p>The Aqovia SDN and NFV solution offer a light touch integration based on a top-down, value-based approach, using three key areas of expertise:</p>

		<img src="img/sdn-architecture.png" alt="" class="u-pull-right">

		<ol class="bold-numbered-list u-block">
			<li>Pedigree of Software Development excellence</li>
			<li>Global WAN Network rollout and optimisation</li>
			<li>Business Intelligence Analysis</li>
		</ol>
	</div>
</section>

<section class="default-bg-section">
	<div class="edged-section">
		<h2 class="bold-heading">The benefits</h2>
		<p>SDN and NFV are equally critical parts of a modern virtual network and the benefits for Cloud service providers, Telcos and Enterprise network operators to:</p>

		<div class="u-text-center">
			<ol class="bold-numbered-list">
				<li>Reduce Network Capex and Opex</li>
				<li>Increase Network agility</li>
				<li>Increase velocity of go-to-market campaigns</li>
				<li>Data-driven identification of new revenue streams</li>
				<li>Reduce operational complexity</li>
				<li>Increase efficiency of computing, storage & resource time</li>
			</ol>
		</div>
	</div>
</section>

{% endblock %}

{% block footerHeading %}If you’d like to find out more about Aqovia’s SDN - NFV solutions.{% endblock %}
{% block footerDescription %}Please get in touch with a member of our team today.{% endblock %}