{% extends "templates/layout.html" %}
{% set menuItem = "team" %}

{% block title %}The team at Aqovia{% endblock %}

{% block content %}
<section>
	<div class="edged-section">
		<h1 class="page-title">The team at Aqovia</h1>
		<p class="page-title-subtext">The Aqovia team are made up of experts in digital innovation and emerging technologies, based in London and the Netherlands.</p>
	</div>
</section>

<section class="transition-to-default-bg-section">
	<div class="edged-section">

		<p>We are business, system and data analysts, software developers, data scientists, user researchers, project and delivery managers and consultants.</p>
	</div>
</section>


<section class="default-bg-section">
	<div class="edged-section">
		<h2 class="bold-heading">Executive leadership</h2>

		<div class="profile-item">
			<div class="profile-item__picture">
				<img src="img/muhammad-malik.jpg" alt="Muhammad Malik, CEO and founder of Aqovia">
			</div>

			<div class="profile-item__description">
				<h3 id="muhammad-malik">Muhammad Malik</h3>
				<p>CEO</p>

				<p>Muhammad Malik is CEO and founder of Aqovia.</p>

				<p>Muhammad’s professional career started at Peoples Bank US in late 1998. Muhammad joined U.S. telecommunications provider Sprint in 2001 and transferred from the U.S. to London, as Head of Network Planning and Engineering for Sprint Europe, Mid-East and Africa.</p>

				<p>After leading several large scale multi-year telecommunication projects at Sprint and in early 2008, Muhammad founded a joint venture with Cable&Wireless (C&W) and newly founded Aqovia.</p>

				<p>Muhammad is currently focused on several applied innovation, social responsibility and new infrastructure ventures, including:</p>

				<ul>
					<li>Banking</li>
					<li>New energy infrastructure plants, such as energy from waste</li>
				</ul>

				<p>He received his bachelors in Business Administration and in Management Information Systems from Ottawa University. </p>
			</div>
		</div>
	
	</div>
</section>

<section class="alternate-bg-section">
	<div class="edged-section">
		<div class="profile-item">
			<div class="profile-item__picture">
				<img src="img/john-osullivan.jpg" alt="John O'Sullivan, Director at Aqovia">
			</div>
			
			<div class="profile-item__description">
				<h3 id="john-osullivan">John O'Sullivan</h3>
				<p>Director</p>

				<p>John has been director at Aqovia since 2009, with executive leadership roles including Managing Director at Nexala, a Trimble company. Prior to joining Nexala, John has served in senior management positions for a number of leading enterprises, including KPMG and HP with responsibility and remit across Ireland, the UK, pan-Europe and the Middle East.</p>

				<p>John graduated from University College Cork with a Bachelors of Commerce degree and is a Fellow of the Institute of Chartered Accountants (FCA).</p>
			</div>
		</div>
	
	</div>
</section>


<section class="emphasised-bg-section">
	<div class="edged-section">
		<p class="default-heading">Our specialised skills include:</p>
		
		<ul class="up-to-3-columns-collapsible-list">
			<li>Software development</li>
			<li>Artificial Intelligence</li>
			<li>Microservices</li>
			<li>Cloud Storage</li>
			<li>Smart contracts</li>
			<li>Distributed ledger technology</li>
		</ul>

	</div>
</section>


<section class="default-bg-section">
	<div class="edged-section">
		
		<p>Not only are our team filled with in-depth industry knowledge and digital expertise but are focused on collaborative working, ensuring that you - our client - get the bespoke service you require.</p>

		<p><a href="about.html">Read more about Aqovia</a></p>

	</div>
</section>


{% include "templates/partials/clients-logo.html" %}

{% include "templates/partials/testimonials.html" %}

{% endblock %}
