{% extends "layout.html" %}
{% set menuItem = "team" %}

{% block title %}The team at Aqovia{% endblock %}

{% block content %}
<section>
	<div class="edged-section">
		<h1 class="page-title">The team at Aqovia</h1>
		<p class="page-title-subtext">The Aqovia team are made up of experts in digital innovation and emerging technologies, based in London and the Netherlands.</p>
	</div>
</section>

<section class="transition-to-default-bg-section">
	<div class="edged-section">

		<p>We are business, system and data analysts, software developers, data scientists, user researchers, project and delivery managers and consultants.</p>
	</div>
</section>


<section class="default-bg-section">
	<div class="edged-section">
		<h2 class="bold-heading">Executive leadership</h2>

		<div class="profiles">
			<div class="profile-item">
				<div class="profile-item__picture">
					<img src="img/muhammad-malik.jpg" alt="Muhammad Malik, CEO and founder of Aqovia">
				</div>

				<div class="profile-item__description">
					<h3>Muhammad Malik</h3>
					<p>CEO</p>

					<p>Muhammad Malik is CEO and founder of Aqovia.</p>

					<p>Muhammad’s professional career started at Peoples Bank US in late 1998. Muhammad joined U.S. telecommunications provider Sprint in 2001 and transferred from the U.S. to London, as Head of Network Planning and Engineering for Sprint Europe, Mid-East and Africa.</p>

					<p>After leading several large scale multi-year telecommunication projects at Sprint and in early 2008, Muhammad founded a joint venture with Cable&Wireless (C&W) and newly founded Aqovia.</p>

					<p>Muhammad is currently focused on several applied innovation, social responsibility and new infrastructure ventures, including:</p>

					<ul>
						<li>Banking</li>
						<li>New energy infrastructure plants, such as energy from waste</li>
					</ul>

					<p>He received his bachelors in Business Administration and in Management Information Systems from Ottawa University. </p>
				</div>
			</div>


			<!-- <div class="profile-item">
				<div class="profile-item__picture">
					<img src="img/mustafa-arif.jpg" alt="Mustafa Arif, Principal Architect at Aqovia">
				</div>
				
				<div class="profile-item__description">
					<h3>Mustafa Arif</h3>
					<p>Principal Architect</p>

					<p>Insert text here</p>
				</div>
			</div> -->
		</div>

	
	</div>
</section>


<section class="emphasised-bg-section">
	<div class="edged-section">
		<p>Our specialised skills include:</p>
		
		<ul class="up-to-3-columns-collapsible-list">
			<li>Software development</li>
			<li>Artificial Intelligence</li>
			<li>Microservices</li>
			<li>Cloud Storage</li>
			<li>Smart contracts</li>
			<li>Distributed ledger technology</li>
		</ul>

	</div>
</section>


<section class="default-bg-section">
	<div class="edged-section">
		
		<p>Not only are our team filled with in-depth industry knowledge and digital expertise but are focused on collaborative working, ensuring that you - our client - get the bespoke service you require.</p>

		<p><a href="about.html">Read more about Aqovia</a></p>

	</div>
</section>


{% include "partials/clients-logo.html" %}

{% include "partials/testimonials.html" %}

{% endblock %}
