{% extends "templates/layout.html" %} {% set menuItem = "terms" %} {% block title %}Terms of Use{% endblock %} {% block content %}
<section>
    <div class="edged-section">
        <p class="page-title">Terms of Use</p>
        <h1 class="page-title-subtext">These Terms of Use set out the rules for using Aqovia's website. By using this site, you agree to these terms and our Privacy Policy.</h1>
    </div>
</section>

<section class="default-bg-section">
    <div class="edged-section">

        <h2 class="small-heading">Accessing Our Website</h2>
        <p>Access to our website is provided on a temporary basis, and we reserve the right to amend or withdraw the site without notice. We will not be liable if, for any reason, the site is unavailable at any time or for any period</p>

        <h2 class="small-heading">Intellectual Property Rights</h2>
        <p>We are the owner or the licensee of all intellectual property rights in our site and the material published on it. All such rights are reserved. You may print off one copy, and may download extracts, of any page(s) from our site for your personal
            use.</p>
        <p>You must not:</p>
        <ul class="up-to-1-columns-collapsible-list">
            <li>Modify the paper or digital copies of any materials you have printed off or downloaded.</li>
            <li>Use any illustrations, photographs, or video sequences separately from the accompanying text.</li>
            <li>Use any part of the materials on our site for commercial purposes without obtaining a licence from us or our licensors.</li>
        </ul>

        <h2 class="small-heading">Liability</h2>
        <p>The material displayed on our site is provided without any guarantees, conditions, or warranties as to its accuracy. To the extent permitted by law, we expressly exclude:</p>
        <ul class="up-to-1-columns-collapsible-list">
            <li>All conditions, warranties, and other terms which might otherwise be implied by statute, common law, or equity.</li>
            <li>Any liability for any direct, indirect, or consequential loss or damage incurred by any user in connection with our site or in connection with the use, inability to use, or results of the use of our site.</li>
        </ul>

        <h2 class="small-heading">Links to Other Websites</h2>
        <p>Where our site contains links to other sites, these links are provided for your information only. We have no control over the contents of those sites and accept no responsibility for them or for any loss or damage that may arise from your use
            of them.</p>

        <h2 class="small-heading">Data Protection</h2>
        <p>We will collect and process your data in line with our Privacy Policy, which complies with the General Data Protection Regulation (GDPR) and the UK Data Protection Act.</p>

        <h2 class="small-heading">Changes to the Terms</h2>
        <p>We may revise these terms at any time by amending this page. Please check this page regularly to take notice of any changes we made.</p>

    </div>
</section>


{% include "templates/partials/clients-logo.html" %} {% include "templates/partials/testimonials.html" %} {% endblock %}