{% extends "layout.html" %}
{% set menuItem = "work" %}

{% block title %}What we do at Aqovia{% endblock %}

{% block content %}
<section>
	<div class="edged-section">
		<h1 class="page-title">What we do</h1>
		<p class="page-title-subtext">Combining elite and emerging technologies, focused on operational efficiency, product development and innovation we provide sophisticated digital solutions to the public and private sector. Our clients across various sectors have achieved significant benefits from our solutions.</p>		
	</div>
</section>


<section class="default-bg-section">
	<div class="edged-section">

		<ul class="work-listing">
			<li class="work-listing__item">
				<img src="img/a1-platform-icon.svg" alt="" class="work-listing__visual">

				<div class="work-listing__description">
					<h3 class="work-listing__heading">A1 Autonomic Platform</h3>
					<p>Introducing an automated and intelligent platform for streamlined operations, cost reduction and experience uplift.</p>
					<p><a href="autonomic-platform.html">Read more</a></p>
				</div>
			</li>

			<li class="work-listing__item">
				<img src="img/sdn-nvf-icon.svg" alt="" class="work-listing__visual">

				<div class="work-listing__description">
					<h3 class="work-listing__heading">SDN | NFV</h3>
					<p>Pioneering Software Defined Networking and Network Function Virtualisation solutions for significant costs savings and increased network capabilities.</p>
					<p><a href="software-defined-network.html">Read more</a></p>
				</div>
			</li>

			<li class="work-listing__item">
				<img src="img/devops-icon.svg" alt="" class="work-listing__visual">

				<div class="work-listing__description">
					<h3 class="work-listing__heading">DevOps</h3>
					<p>Aqovia DevOps enables fast paced product and technology programme delivery through automation, collaboration and cultural change management.</p>
					<p><a href="devops.html">Read more</a></p>
				</div>
			</li>

			<li class="work-listing__item">
				<img src="img/microservices-icon.svg" alt="" class="work-listing__visual">

				<div class="work-listing__description">
					<h3 class="work-listing__heading">Microservices</h3>
					<p>Microservices is a software development technique that structures an application as a collection of loosely coupled services.</p>
					<p><a href="">Read more</a></p>
				</div>
			</li>

			<li class="work-listing__item">
				<img src="img/iot-calculator-icon.svg" alt="" class="work-listing__visual">

				<div class="work-listing__description">
					<h3 class="work-listing__heading">IoT value calculator</h3>
					<p>The Internet of Things (IoT) spans devices (hardware), software, analytics, connectivity and solution implementation. This dashboard is an exploration of application areas, settings, solution components and countries for the perod 2017-2021.</p>
					<p><a href="iot-value-calculator.html">Read more</a></p>
				</div>
			</li>
		</ul>

		
	</div>
</section>



{% include "partials/clients-logo.html" %}

{% include "partials/testimonials.html" %}

{% endblock %}