{% set images = [{
  "src": "img/clients/itv.svg",
  "alt": "ITV"
}, {
  "src": "img/clients/bbc.svg",
  "alt": "BBC"
}, {
  "src": "img/clients/interxion.svg",
  "alt": "Interxion"
}, {
  "src": "img/clients/vodafone.svg",
  "alt": "Vodafone"
}, {
  "src": "img/clients/sky.svg",
  "alt": "Sky"
}, {
  "src": "img/clients/pearson.svg",
  "alt": "Pearson"
}] %}

<section class="alternate-bg-section">
	<div class="edged-section">
		<h2 class="bold-heading">Our leading clients</h2>
		
		<ul class="clients-logo">
			{% for image in images %}
			<li class="clients-logo__item">
			  <img src="{{image.src}}" alt="{{image.alt}}">
			</li>
			{% endfor %}
		</ul>
	</div>
</section>