<section class="default-bg-section">
	<div class="edged-section">
		<h2 class="bold-heading">Testimonials</h2>

		<ul class="testimonials">
			<li class="testimonials__item">
				<div class="testimonials__visual">
					<img src="img/clients/bbc.svg" alt="BBC">
				</div>

				<div class="testimonials__content">
					<p class="testimonials__quote">Aqovia set the standards on how to run technology projects.</p>
					<p class="testimonials__author">Andrew Stephens</p>
					<p class="testimonials__author-meta">Head of Operations at BBC Motion Gallery</p>
				</div>
			</li>

			<li class="testimonials__item">
				<div class="testimonials__visual">
					<img src="img/clients/interxion.svg" alt="interxion">
				</div>

				<div class="testimonials__content">
					<p class="testimonials__quote">Aqovia ran our Agile project successfully and introduced test based development which had a very positive impact on user involvement, alignment of functionality and quality of code delivered.</p>
					<p class="testimonials__author">Eric Boden</p>
					<p class="testimonials__author-meta">Vice-President ICT at Interxion, a Digital Realty Company</p>
				</div>
			</li>

			<li class="testimonials__item">
				<div class="testimonials__visual">
					<img src="img/clients/pearson.svg" alt="Pearson">
				</div>

				<div class="testimonials__content">
					<p class="testimonials__quote">Aqovia has a quality team that demonstrate excellent understanding and application of value centric business transformation.</p>
					<p class="testimonials__author">Michelle Seed</p>
					<p class="testimonials__author-meta">VP Strategic Planning</p>
				</div>
			</li>
		</ul>
	</div>
</section>