{% macro active(activeMenu) %}
<nav class="footer-nav">
    <ul class="site-nav__level-01">
        <li class="site-nav__item {% if (activeMenu) == 'aup' %} -active {% endif %}"><a href="acceptable-use-policy.html">Acceptable Use Policy</a></li>
        <li class="site-nav__item {% if (activeMenu) == 'cookie' %} -active {% endif %}"><a href="cookie-policy.html">Cookie Policy</a></li>
        <li class="site-nav__item {% if (activeMenu) == 'terms' %} -active {% endif %}"><a href="terms-of-use.html">Terms of Use</a></li>
    </ul>
</nav>
{% endmacro %}