{% macro active(activeMenu) %}
<header class="main-header header" id="header">
    <div class="main-header__edges">
        <nav class="navbar container">
            <div class="navbar-inner">
                <a href="index.html" class="main-header__home-link">
                    <img src="img/aqovia-logo.svg" alt="Aqovia logo" class="main-header__logo">
                </a>
                <div class="burger" id="burger">
                    <span class="burger-line"></span>
                    <span class="burger-line"></span>
                    <span class="burger-line"></span>
                </div>
            </div>
            <div class="navbar-block" id="menu">
                <ul class="menu">
                    <!--    
                    <li class="menu-item "><a href="about.html" class="menu-link site-nav__item">About Us</a></li>
                    <li class="menu-item "><a href="team.html" class="menu-link site-nav__item">Leadership</a></li>
                    <li class="menu-item "><a href="what-we-do.html" class="menu-link site-nav__item">What we do</a></li>
                    <li class="menu-item "><a href="case-studies.html" class="menu-link site-nav__item">Case Studies</a></li>
                    <li class="menu-item "><a href="https://careers.aqovia.com/" class="menu-link site-nav__item">Careers</a></li>
                    <li class="menu-item "><a href="cloud-blueprint.html" class="menu-link site-nav__item">Cloud Blueprint</a></li>
                    -->
                    <li class="menu-item dropdown ">
                        <span class="dropdown-toggle menu-link">
                      About <i class="bx bx-chevron-down"></i>
                    </span>
                        <div class="dropdown-content">
                            <div class="dropdown-column">
                                <div class="dropdown-group">
                                    <div class="dropdown-title">
                                        <span class="dropdown-icon"><i class="bx bx-buildings"></i></span>
                                        <span class="text-base font-medium">The company</span>
                                    </div>
                                    <ul class="dropdown-items">
                                        <li class="menu-item "><a href="about.html" class="menu-link dropdown-link">About Us</a></li>
                                        <li class="menu-item "><a href="team.html" class="menu-link dropdown-link">Leadership</a></li>
                                        <li class="menu-item "><a href="https://careers.aqovia.com/" class="menu-link dropdown-link" target="_blank">Careers</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown-group">
                                    <div class="dropdown-title">
                                        <span class="dropdown-icon"><i class="bx bx-code"></i></span>
                                        <span class="text-base font-medium">Our work</span>
                                    </div>
                                    <ul class="dropdown-items">
                                        <li class="menu-item "><a href="what-we-do.html" class="menu-link dropdown-link">What we do</a></li>
                                        <li class="menu-item "><a href="case-studies.html" class="menu-link dropdown-link">Case Studies</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu-item dropdown">
                        <span class="dropdown-toggle menu-link">
                      Cloud Solutions <i class="bx bx-chevron-down"></i>
                    </span>
                        <div class="dropdown-content">
                            <div class="dropdown-column">
                                <div class="dropdown-group">
                                    <div class="dropdown-title">
                                        <span class="dropdown-icon"><i class="bx bx-cloud"></i></span>
                                        <span class="text-base font-medium">Future-Proofing</span>
                                    </div>
                                    <ul class="dropdown-items">
                                        <li class="menu-item "><a href="cloud-blueprint.html" class="menu-link dropdown-link">Cloud Blueprint</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown-group">
                                    <div class="dropdown-title">
                                        <span class="dropdown-icon"><i class="bx bx-cloud"></i></span>
                                        <span class="text-base font-medium">Unlock the True Potential</span>
                                    </div>
                                    <ul class="dropdown-items">
                                        <li class="menu-item "><a href="enterprise-cloud-optimised.html" class="menu-link dropdown-link">Enterprise Cloud Optimise</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown-group">
                                    <div class="dropdown-title">
                                        <span class="dropdown-icon"><i class="bx bx-cloud"></i></span>
                                        <span class="text-base font-medium">Power of Managed Hybrid Cloud</span>
                                    </div>
                                    <ul class="dropdown-items">
                                        <li class="menu-item "><a href="managed-enterprise-hybrid-cloud.html" class="menu-link dropdown-link">Managed Enterprise Hybrid Cloud</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu-item"><a href="contact.html" class="menu-link">Contact us</a></li>
                </ul>
            </div>
        </nav>
</header>
<!--
<nav class="site-nav">
    <ul class="site-nav__level-01">
        <li class="site-nav__item "><a href="about.html">About Us</a></li>
        <li class="site-nav__item "><a href="team.html">Leadership</a></li>
        <li class="site-nav__item "><a href="what-we-do.html">What we do</a></li>
        <li class="site-nav__item "><a href="case-studies.html">Case Studies</a></li>
        <li class="site-nav__item "><a href="https://careers.aqovia.com/">Careers</a></li>
        <li class="site-nav__item  -active "><a href="cloud-blueprint.html">Cloud Blueprint</a></li>
    </ul>
</nav>
-->
{% endmacro %}