.work-listing {
	list-style-type: none;
	
	margin: 1em 0;
	padding: 0;

	font-size: 1em;
}

.work-listing__item {
	display: flex;
	align-items: center;
	
	padding: 1em 0;
	
	border: 1px solid @bg-color;
	border-width: 0 0 1px 0;
	
	&:first-child {
		border-width: 1px 0;
	}

	@media screen and (max-width: 37rem) {
		flex-direction: column;
	}
}

.work-listing__visual {
	flex: 12.5rem 0 0;
	height: auto;
	max-width: 12.5rem;
	
	@media screen and (max-width: 37rem) {
		width: 34%;
	}
}

.work-listing__description {
	flex: 1;
}

.work-listing__heading {
	.mixin-dynamic-font-size(1.25em,1.5em,@to-viewport: 43.75rem);
	margin: 0;
	
	font-weight: 700;

	color: @secondary-color;
}


.work-listing__link {
	margin-top: 1em;
	margin-left: 12.5rem;
		
	@media screen and (max-width: 37rem) {
		margin-left: 0;
	}
}